* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.top__logo {
  text-align: center;
  font-size: 5rem;
  
  color: black;
  font-style: italic;
  display: inline-block;
  margin: 0.2rem 0;
  padding: 0.2rem;
}

.navbar {
  
  align-items: center;
 
  margin: 0 auto;
  font-size: 2rem;
  border-bottom:1px solid #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 2rem;
  
 }

.navbar h1 {
  color: black;
}

.navbar .link {
  margin: auto;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 2rem;
  
}

.navbar a:hover {
  color: green;
}


body {
  width: 80%;
  margin: 0 auto;
}

content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.top__headlines__container {
  text-align: center;
  margin-bottom: 4rem;
  
}

.top__headlines__container .title {
    font-size: 2rem;
    font-weight: bold;
    
}

.readMore {
  background-color: yellowgreen;
  color: black;
  display: inline-block;
  margin: 0.2rem 0;
  padding: 0.2rem;
  font-weight: bold;
  margin-top: 3rem;
}


.search__it {
  justify-content: right;
}