* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.top__logo {
  text-align: center;
  font-size: 5rem;
  
  color: black;
  font-style: italic;
  display: inline-block;
  margin: 0.2rem 0;
  padding: 0.2rem;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom:1px solid #f2f2f2;
  font-size: 2rem;
  
 
}

.navbar h1 {
  color: green;
}

.navbar .link {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;

}

.navbar a:hover {
  color: orange;
}


body {
  width: 80%;
  margin: 0 auto;
}

content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.top__headlines__container {
  text-align: center;
}

.readMore {
  background-color: yellowgreen;
  color: black;
  display: inline-block;
  margin: 0.2rem 0;
  padding: 0.2rem;
}
